.url-main-container{
    display:flex;
    align-items: center;
    padding:5px;
    margin:20px;
    background-color:#ADD8E6;
    border:1px solid black;
}

.url-divA{
    display:flex;
    
    align-items:center;

}